.info_wrapper {
  background-color: white;
  padding: clamp(1rem, 0.284rem + 3.1vw, 4rem)
    clamp(0.625rem, 0.177rem + 1.94vw, 2.5rem);
    padding-bottom: 64px;
}

.about_info_block {
  background-color: white;
  width: 33%;
  @media (max-width: 960px) {
    width: 100%;
  }
  & > * {
    background-color: white;
    color: black;
  }
  & h3 {
    font-size: clamp(2rem, 1.761rem + 1.03vw, 3rem);
  }
  & p {
    font-size: clamp(1rem, 0.881rem + 0.52vw, 1.5rem);
  }
}
