.btn {
  border: solid 1px white;
  border-radius: 40px;
  padding: 15px 40px;
  // font-size: 20px;
  line-height: 20px;
  transition: all 0.3s;

  &:hover {
    scale: 1.02;
  }
  &:active {
    scale: 1.08;
  }
}
//hover везде прописан отдельно!!!
