.card {
  position: relative;
  width: 600px;
  height: 596px;
  border-radius: 20px;
  padding: 20px;
  transition: 0.3s;
  z-index: 1;
  cursor: pointer;
  &:hover {
    scale: 1.02;
  }

  &_title {
    display: inline-flex;
    height: 42px;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border-radius: 20px;
    background-color: white;
    color: black;
  }
  &_info {
    background-color: transparent;
    font-size: 58px;
    line-height: 58px;
    margin-top: 40px;
  }
  &_image {
    position: absolute;
    bottom: 0;
    border-radius: 20px 20px 0 0;
  }
}

.ellipse {
  position: absolute;
  z-index: 0;
  right: -40px;
  top: 425px;
}
.ellipse2 {
  position: absolute;
  z-index: 0;
  left: -40px;
  bottom: 0;
}

.h3 {
  position: absolute;
  bottom: 0;
  background-color: transparent;
  z-index: 1;
  font-size: 87px;
  line-height: 87px;
}
