.feedback {
  &_left {
    display: flex;
    flex-direction: column;
    width: 50%;
    &_top {
      font-size: 87px;
      line-height: 100%;
    }
    &_description {
      font-size: 32px;
      line-height: 100%;
      margin-top: 64px;
      margin-bottom: 96px;
    }
    &_bottom {
      font-size: 32px;

      &_info {
        margin-top: 32px;
        display: flex;
        gap: 32px;
      }
    }
    &_buttons {
        display: flex;
        gap: 20px;
        margin-top: 32px;
      & button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 290px;
        height: 65px;
        background: #24a0dd;
        border-radius: 20px;
        font-size: 32px;
        & > * {
          background-color: transparent;
        }
      }
    }
  }
}
