.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
  padding: 40px 40px 0 40px;
  background-color: black;
  width: 100%;
  z-index: 100;
  &_left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    & a {
      line-height: 100%;
      font-size: 40px;
    }
  }
  &_right {
    display: flex;
    align-items: center;
    gap: 38px;
    font-size: clamp(1.125rem, 0.75rem + 0.42vw, 1.25rem);
    .nav {
      display: flex;
      gap: 26px;
    }
    @media (max-width: 960px) {
      display: none;
    }
  }
  &_menu {
    display: flex;
    gap: 50px;
    margin-right: 50px;
  }
  &_button:hover {
    background: linear-gradient(270.02deg, #ff9900 0.02%, #ee5600 99.98%);
    border-color: black;
    cursor: pointer;
    padding: 0;
  }
}

.ru {
  display: none;
}
.disabled {
  opacity: 0.5;
  pointer-events: none;
}

@media (max-width: 1250px) {
  .header {
    justify-content: start;

    &_right {
      margin-left: auto;
      margin-right: 40px;
      .nav {
        display: none;
      }
    }
  }
}

@media (max-width: 960px) {
  .header {
    justify-content: space-between;
    padding: 20px 10px 20px 10px;
    position: fixed;
    top: 0;
    margin: 0;
    &_left {
      & p {
        display: none;
      }
    }
  }
  .ru {
    display: block;
  }
  .tips {
    width: 111px;
  }
}
