.left {
  position: sticky;
  top: 52px;
  background: #262626;
  padding: clamp(2rem, -4rem + 6.67vw, 4rem) 32px;
  border-radius: 20px;
  width: clamp(34.688rem, -1.5rem + 40.21vw, 46.75rem);
  height: clamp(35.688rem, 14.875rem + 23.13vw, 42.625rem);
  z-index: 1;
  & > * {
    background: inherit;
  }
  & p {
    margin: 64px 0;
    margin-top: clamp(2rem, -4rem + 6.67vw, 4rem);
    font-size: clamp(1.438rem, -0.25rem + 1.88vw, 2rem);
    line-height: 32px;
    & b {
      background: inherit;
    }
  }

  &_header {
    font-size: clamp(5.125rem, 4.188rem + 1.04vw, 5.438rem);
    line-height: 100%;
    & > * {
      background: inherit;
    }
  }
}

.right {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  width: clamp(49.063rem, -3.438rem + 58.33vw, 66.563rem);
  padding-left: 32px;
  & h3 {
    background-color: inherit;
    font-size: 48px;
    margin-bottom: 72px;
  }

  .block {
    display: flex;
    justify-content: space-between;
    background-color: inherit;
    font-size: 24px;
    line-height: 100%;

    & > * {
      background-color: inherit;
    }
    &_header {
      display: flex;
      gap: 32px;
      font-size: clamp(1.438rem, -0.25rem + 1.88vw, 2rem);
      width: clamp(18.75rem, 2.813rem + 17.71vw, 24.063rem);
      line-height: 100%;
      & > * {
        background-color: inherit;
      }
    }
    &_description {
      background-color: inherit;
      width: clamp(28.75rem, -7.438rem + 40.21vw, 40.813rem);
    }
  }

  & span {
    display: block;
    width: 100%;
    height: 1px;
    background-color: white;
    margin: 64px 0;
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  top: 64px;
  background-color: transparent;
  font-size: 24px;
  width: clamp(28.75rem, -7.438rem + 40.21vw, 40.813rem);

  & > * {
    background-color: transparent;
    & > * {
      background-color: transparent;
    }
  }
}

.li {
  list-style: disc;
  margin-left: 30px;
  line-height: normal;
}

.p {
  font-size: 26px;
  font-weight: 600;
}

.h2 {
  font-size: clamp(5.125rem, 4.188rem + 1.04vw, 5.438rem);
  background: linear-gradient(90deg, #faff00 0%, #ff0000 100%);
  color: transparent;
  background-clip: text;
}

.button {
  width: 100%;
  height: 69px;
  background: linear-gradient(270.02deg, #ff9900 0.02%, #ee5600 99.98%);
  border-color: transparent;
  font-size: 24px;
  &:hover {
    background: white;
    color: black;
  }
}

.mainInfo {
  position: relative;
  overflow: visible;
  display: flex;
  height: 100%;
  background-color: black;
}

//drop info

.dropdown {
  // display: flex;
  // flex-direction: column;
  position: relative;
}

.dropdown_toggle {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 24px;
  cursor: pointer;
}

.dropdown_content {
  // flex-grow: 0;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  border: 1px solid #ddd;
  padding: 10px;
  opacity: 0;
  transition: 0.4s;
}

// .dropdown_content::before {
//   content: "";
//   position: absolute;
//   top: -10px;
//   left: 10px;
//   border-style: solid;
//   border-width: 0 10px 10px 10px;
//   border-color: transparent transparent #fff transparent;
// }
.dropdown_content.open {
  // flex-grow: 1;
  opacity: 1;
  margin-bottom: 150px;
}
.dropdown:not(.openHeader) {
  transition: 0.4s;
}

.dropdown.openHeader {
  transition: 0.4s;
  margin-bottom: 500px;
}

// .dropdown.openHeader ~ * {
//   flex-grow: 0;
// }

// .dropdown_toggle:focus + .dropdown_content {
//   opacity: 1;
// }
