.button {
  background-color: #fff;
  color: black;
  font-size: 32px;
  padding: 0;
  width: 650px;
  height: 89px;
  &:hover {
    background-color: black;
    color: white;
    border-color: black;
  }
}


.h1 {
  @apply w-4/5 leading-none bg-transparent mb-4;
  font-size: clamp(4rem, -0.313rem + 4.79vw, 5.438rem);
}

.main_wrapper {
  @apply flex flex-col text-center items-center bg-my-gradient rounded-[20px] overflow-hidden;
  padding: clamp(8.625rem, -3.938rem + 13.96vw, 12.813rem) 0;
}

//адаптив

@media (max-width: 1440px) {
}
