.button {
  background-color: #fff;
  color: black;
  font-size: 32px;
  padding: 29px 82px;
  &:hover {
    background-color: black;
    color: white;
    border-color: black;
  }

  &_lending,
  &_multipage,
  &_shop,
  &_card {
    width: 290px;

    &:hover {
      background: linear-gradient(180deg, #990000 0%, #ffb800 100%);
      border-color: black;
    }
  }
}



