.price_wrapper {
  @apply flex justify-between gap-10;
  height: 1188px;
  width: 100%;
  @media (max-width: 1300px) {
    display: flex;
    flex-direction: column;
    gap: 0;
    height: clamp(56.25rem, 31.705rem + 52.36vw, 74.25rem);
  }
  @media (max-width: 750px) {
    height: clamp(46.438rem, 36.883rem + 41.32vw, 56.25rem);
  }
}

.price {
  position: relative;
  background-color: transparent;
  width: clamp(34.688rem, -2.813rem + 41.67vw, 47.188rem);
  margin-top: 64px;

  & h3 {
    font-size: clamp(6.75rem, 0.5rem + 16.67vw, 13rem);
    color: rgba(255, 255, 255, 0.1);
    background-color: transparent;
    line-height: 125%;
    width: 755px;
    @media (max-width: 560px) {
      opacity: 0;
    }
  }
  .h3 {
    background-color: transparent;
    font-size: clamp(2.5rem, 1.484rem + 4.39vw, 5.438rem);
    line-height: 100%;
    color: white;
    @media (max-width: 560px) {
      opacity: 1;
    }
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  top: 150px;
  position: absolute;
  background-color: transparent;
  z-index: 0;
  font-size: clamp(1.25rem, 0.5rem + 0.83vw, 1.5rem);
  max-width: 653px;
  @media (max-width: 1300px) {
    display: none;
  }

  & > * {
    background-color: transparent;
    & > * {
      background-color: transparent;
    }
  }
}

.li {
  list-style: disc;
  margin-left: 30px;
  line-height: normal;
}

.p {
  font-size: 26px;
  font-weight: 600;
}

.button,
.button_right {
  background-color: white;
  font-size: clamp(1.5rem, 1.67vw, 2rem);
  width: 100%;
  height: clamp(3.5rem, -2.875rem + 7.08vw, 5.625rem);
  color: black;
  margin-top: 64px;
  position: relative;
  z-index: 1;
  &:hover {
    background: linear-gradient(270.02deg, #ff9900 0.02%, #ee5600 99.98%);
    border-color: black;
    color: white;
  }
}
.button_right {
  display: none;
  @media (max-width: 1300px) {
    display: block;
  }
}

.price_right {
  @apply relative bg-transparent pt-[100px] mt-16;
  @media (max-width: 1300px) {
    bottom: clamp(10.625rem, 6.25rem + 11.67vw, 15rem);
    padding: 0;
  }
}

.priceList {
  margin-bottom: clamp(2rem, 0.855rem + 4.95vw, 5.313rem);
  margin-left: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  transition: 0.3s;
  cursor: default;

  &:hover {
    scale: 1.02;
  }

  & > * {
    background-color: transparent;
  }

  &_header {
    display: flex;
    justify-content: space-between;
    font-size: clamp(1rem, 0.697rem + 1.31vw, 1.875rem);
    width: 100%;
    & > * {
      background-color: transparent;
    }
    &_price {
      color: #e9ad0b;
    }
    &_description {
      font-size: clamp(0.938rem, 0.743rem + 0.84vw, 1.5rem);
      color: #969696;
    }
  }

  &_span {
    display: block;
    height: 1px;
    width: 100%;
    margin: clamp(0.5rem, -0.019rem + 2.24vw, 2rem) 0;
    background: linear-gradient(270deg, #990000 0%, #ffb800 100%);
  }
}
